
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'child/css/style.css'%}">
</head>
<body>

    <div class="wrapper">
        <img src="{% static 'child/images/img1.jpg' %}" alt="" class="banner" >
        <h1>you are not allowed</h1>
       
       <img src="https://icon-library.com/images/hacked-icon/hacked-icon-12.jpg" alt="" class="hack">
        <!--
        <div class="head">
my first website
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="content">
main content
        </div>
        <div class="aside">
addition info
        </div>
        <div class="footer">
the website is developed by praveen kumar
        </div> -->
    </div>


    
   <!-- <img src="{% static 'child/images/img1.jpg' %}" alt=""> -->
        
    </div>
</body>
</html>